<!DOCTYPE html>
<html>
<head>
  <title>Landahoy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="intro">

    <header class="row">

       <nav id="nav-wrap">

          <a class="menu-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="menu-btn" href="#" title="Hide navigation">Hide navigation</a>

          <ul id="nav" class="nav">
             <li><a class="smoothscroll" href="#home">Home</a></li>
             <li><a class="smoothscroll" href="#styles">Style Guide</a></li>
          </ul> <!-- end #nav -->

       </nav> <!-- end #nav-wrap -->

    </header>


    <div id="main" class="row">
      <div class="twelve columns">

        <% if content_for(:heading) %>
          <%= yield(:heading) %>
        <% else %>

          <h1>Land Ahoy!</h1>

          <p>Search & compare metrics of different council regions & suburbs around Australia.</p>

        <% end %>

        <!-- Begin MailChimp Signup Form -->

        <div id="mc_embed_signup">
          <%= form_for(:_, url: '/search/relocate') do |f| %>
            <input type="text" value="" name="location" class="email" id="region_search" placeholder="location" required>

                 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                 <div style="position: absolute; left: -5000px;"><input type="text" name="b_cdb7b577e41181934ed6a6a44_e65110b38d" value=""></div>

            <input type="submit" value="Search" name="subscribe" id="mc-embedded-subscribe" class="button">
          <% end %>
        </div>


           <ul class="social">
              <li><a href="https://twitter.com/chris_teague"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://au.linkedin.com/pub/chris-teague/11/b0/6a3"><i class="fa fa-linkedin"></i></a></li>
            </ul>

         </div>

      </div> <!-- main end -->

   </section>

<%= yield %>


  <footer>

    <div class="row">

       <div class="twelve columns">

          <ul class="copyright">
             <li>&copy; Copyright 2015 Chris Teague</li>
             <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
          </ul>

       </div>

    </div>

    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#intro"><i class="icon-up-open"></i></a></div>

   </footer> <!-- Footer End-->
 <script>
  $(function() {
    $("#region_search").autocomplete({
      source: "/search/locations",
      minLength: 2
    });
  });
</script>
</body>
</html>
